.mh-skills .mh-proffessional-skill h3{
    font-size: 2.5rem !important;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'poppins',sans-serif;
    color: white;
}

.mh-professional-skills h3{
    font-size: 2.5rem !important;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'poppins',sans-serif;
    color: white;
}

.pr-skill-name{
    font-weight: 400 !important ;
    font-size: 1.6rem !important;
    color: white;
}

.mh-professional-progress{
    padding-left: 0;
}
.mh-professional-progress li{
  display: inline-block;
  margin: 0 auto;
  float: none;
  width: 48%;  
  margin-bottom: 30px;
  text-align: center;
}

.mh-progress{
    color : linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(173,255,241,1) 100%, rgba(2,0,36,1) 255%) ;
    margin-bottom: 10px;
    font: 900 1.14285/1 Cinzerl, cursive;
}
.mh-progress .progressbar-text{
    color: white !important; 
    font-size: 1.6rem;
    font-family: 'poppins',sans-serif;
}

.progress.progress-line{
    height: 10px;
    margin-right: 60px;
}

.progress.progress-line .progressbar-text{
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    transform: translateY(-35%);
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.mh-progress.mh-progress-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
}


.mh-progress path:nth-child(1){
    stroke: #D6F4E8;
}
.mh-progress path:nth-child(2){
    stroke: #1EA974 !important;
}

.candidatos{
    position: relative;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
}

.candidatos .parcial {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    
}

.candidatos .parcial .info{
    margin-bottom: 40px;
    position: relative;
    font-family: 'poppins',sans-serif;
}

.candidatos .parcial .info .nome{
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.6rem;
    font-weight: 400 !important;
    opacity: 0.9;
    font-family: 'poppins',sans-serif;
}

.candidatos .parcial .info .percentage-num{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.6rem;
    font-weight: normal;
    color: white;
}

.candidatos .parcial .progressBar{
    position: absolute;
    width: 100%;
    height: 7px;
    margin: 30px 0px 2px;
    border-radius: 10px;
    background: #D6F4E8;
}

.candidatos .parcial .percentagem{
    
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    background: #1EA974;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-transition: 3s all;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: animationProgress;
    font-family: 'poppins',sans-serif;
}

.precentual{
    animation-name: animationProgress;
}

@keyframes animationProgress {
    from{
        width: 0;
    }  
}
